.head {
    color: var(--mediumGray);
    background-color: var(--lightGray);
}

.head, .body{
    padding: 15px 20px;
    color: var(--darkGray)
}

p {
    font-size: small;
    padding: 0;
    margin: 0;
}

.text {
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}