<div>
    <app-add-user-modal [isEditMode]="isEditMode" [editedUserId]="editedUserId" [oldUserData]="oldUserData"></app-add-user-modal>

    <h4 class="text-primary" style="color:var(--lighBlue);"><b>Users Dashboard</b></h4>

    <div class="d-flex">
        <div class="d-flex col-md-9 align-items-center position-relative">
            <input type="text" class="form-control ps-15 rounded-3 border-0" style="padding-left: 50px;"
                placeholder="Search" [(ngModel)]="searchText" (input)="onTypingSearch()">
            <i class="fa-solid fa-magnifying-glass position-absolute start-1" style="left: 20px; color: var(--mediumGray)"></i>

            <app-button class="ms-3" [label]="addUserLabel" fontColor="white"
                color="primary" iconName="fa-solid fa-plus ps-2" iconColor="white" [type]="ButtonType.Button"
                data-bs-toggle="modal" data-bs-target="#exampleModal" (onClick)="addUser($event)">
            </app-button>
        </div>

        <div class="d-flex col-md-3 justify-content-between gap-0 center">
            <div class="dropdown d-flex align-items-center ps-3">
                <app-button [isDropdown]=true (onClick)="sortItem($event)" [label]="sortLabel"
                    [type]="ButtonType.Button" data-bs-toggle="dropdown">
                </app-button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Name</a>
                    <a class="dropdown-item" href="#">Role</a>
                </div>
            </div>

            <div>
                <app-button [isDropdown]=true (onClick)="savedSearch($event)" [label]="savedSearchLabel"
                    [type]="ButtonType.Button">
                </app-button>
            </div>

            <app-button size="small"
                iconName="fa-solid fa-list" iconColor="var(--darkGray)" [type]="ButtonType.Button">
            </app-button>
        </div>
    </div>

    <!-- List User table -->
    <div class="mt-3">
        <table class="table table overflow-hidden rounded-4">
            <thead>
                <tr>
                    <th colspan="4" class="ps-4 py-3 text"><b>List Users</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="head">Name</th>
                    <th class="head">Create Date</th>
                    <th class="head">Role</th>
                    <th class="head">Action</th>
                </tr>
                <tr *ngFor="let user of datasource.data">
                    <td class="col-md-5 body align-middle">
                        <div class="d-flex justify-content-between center pe-5">
                            <div>
                                <h6 class="text" style="font-size: 15px;"><b>{{user.firstName}} {{user.lastName}}</b></h6>
                                <p class="text" style="color: var(--mediumGray);">{{user.email}}</p>
                            </div>
                            <div class="bg-primary rounded-3 center d-flex py-1" style="width: 100px;">
                                <p class="text text-white">Permission</p>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-2 body align-middle"><p>{{user.createdDate}}</p></td>
                    <td class="col-md-2 body align-middle"><p>Role Mock</p></td>
                    <td class="col-md-1 body align-middle justify-content-end align-items-center">
                        <div class="d-flex">
                            <app-button (onClick)="editUser(user)" size="small"
                                iconName="fa-regular fa-pen-to-square" [type]="ButtonType.Button" 
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                            </app-button>

                            <app-button (onClick)="deleteUser(user.userId)" size="small"
                                iconName="fa-regular fa-trash-can" [type]="ButtonType.Button">
                            </app-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <mat-paginator class="d-flex justify-content-center" style="background-color: transparent;" #paginator [length]="pageAmount" 
        [pageSizeOptions]="[3,5,10]" aria-label="select page" (page)="onPageChanged($event)" showFirstLastButtons>
    </mat-paginator>

</div>