<div class="col-md-10 position-absolute top-0 end-0 d-flex p-3 px-5 align-items-center" style="background-color: #F5F5F5;">
    <div class="d-flex align-items-center col-md-9 justify-content-between pe-3">
        <div class="align-items-center">
            <h5 class="p-0 m-0">Hello, Name</h5>
            <p class="p-0 m-0 text-secondary">Have a nice day</p>
        </div>
        <button style="border: none; background-color: transparent;">
            <i class="fa-solid fa-bell fa-lg"></i>
        </button>
    </div>

    <div style="border-left: 4px solid #dadada; height: 50px;"></div>

    <div class="col-md-3 ps-3 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <div class="rounded-circle" style="width: 50px; height:50px; background-color: #dadada;"></div>
            <div class="align-items-center ps-3">
                <h6 class="p-0 m-0">Name bla bla</h6>
                <p class="p-0 m-0 text-dark">Admin</p>
            </div>
        </div>
        <button style="border: none; background-color: transparent;">
            <i class="fa-solid fa-chevron-down"></i>
        </button>
    </div>
</div>
