<nav class="col-md-2 fixed-top bg-white pt-4 ps-4" style="height: 100vh;">
    <h4 class="navbar-brand text-start pb-5"><b>YOURLOGO</b></h4>
    <div class="position-sticky">
        <ul class="nav flex-column justify-content-center">
            <li class="nav-item d-flex justify-content-start align-items-center border-end border-4 border-primary">
                <i class="fa-solid fa-gauge"></i>
                <a class="nav-link active ps-3" aria-current="page" href="#">Dashboard</a>
            </li>
            <li class="nav-item d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-chart-column"></i>
                <a class="nav-link ps-3" href="#">Users</a>
            </li>
            <li class="nav-item d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-file-lines"></i>
                <a class="nav-link ps-3" href="#">Documents</a>
            </li>
            <li class="nav-item d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-image"></i>
                <a class="nav-link ps-3" href="#">Photos</a>
            </li>
            <li class="nav-item d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-hand-holding-droplet"></i>
                <a class="nav-link ps-3" href="#">Hierarchy</a>
            </li><br>
            <li class="nav-item d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-comment-dots"></i>
                <a class="nav-link ps-3" href="#">Message</a>
            </li>
            <li class="nav-item d-flex justify-content-start align-items-center">
                <i class="fa-regular fa-circle-question"></i>
                <a class="nav-link ps-3" href="#">Help</a>
            </li>
            <li class="nav-item d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-gear"></i>
                <a class="nav-link ps-3" href="#">Setting</a>
            </li>
        </ul>
    </div>
</nav>