<div class="modal fade modal-xl" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <form #form="ngForm" (ngSubmit)="onFormAddUserSubmit()" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Add User</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" name="userId" class="form-control" placeholder="User ID *" [(ngModel)]="model.Id">
                </div>
                <div class="d-flex justify-content-between mb-3 gap-3">
                    <input type="text" name="firstName" class="form-control" placeholder="First Name *" [(ngModel)]="model.FirstName">
                    <input type="text" name="lastName" class="form-control" placeholder="Last Name *" [(ngModel)]="model.LastName">
                </div>
                <div class="d-flex justify-content-between mb-3 gap-3">
                    <input type="text" name="email" class="form-control" placeholder="Email ID *" [(ngModel)]="model.Email">
                    <input type="text" name="phone" class="form-control" placeholder="Mobile No *" [(ngModel)]="model.Phone">
                    <select name="role" class="form-select" aria-label="select user role" [(ngModel)]="model.RoleId">
                        <option selected>Select Role Type</option>
                        <option value='01'>Student</option>
                        <option value='02'>Developer</option>
                        <option value='03'>Front End</option>
                        <option value='04'>Back End</option>
                    </select>
                </div>
                <div class="d-flex justify-content-between mb-3 gap-3">
                    <input type="text" name="username" class="form-control" placeholder="Username *" [(ngModel)]="model.Username">
                    <input type="text" name="password" class="form-control" placeholder="Password *" [(ngModel)]="model.Password">
                    <input type="text" name="confirmPassword" class="form-control" placeholder="Confirm Password *">
                </div>

                <table class="table">
                    <thead>
                        <tr class="py-3">
                            <th class="table-header">Module Permission</th>
                            <th class="table-header">Read</th>
                            <th class="table-header">Write</th>
                            <th class="table-header">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let permission of permissionMock; let index = index">
                            <td class="py-3">{{permission.PermissionName}}</td>
                            <td class="py-3">
                                <input class="form-check-input border-dark" name=`{{permission.PermissionId}}Readable`
                                    type="checkbox" value="" [(ngModel)]="permissionModel[index].IsReadable">
                            </td>
                            <td class="py-3">
                                <input class="form-check-input border-dark" name=`{{permission.PermissionId}}Writable`
                                    type="checkbox" value="" [(ngModel)]="permissionModel[index].IsWritable">
                            </td>
                            <td class="py-3">
                                <input class="form-check-input border-dark" name=`{{permission.PermissionId}}Deletable`
                                    type="checkbox" value="" [(ngModel)]="permissionModel[index].IsDeletable">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <app-button (onClick)="addUser($event)" [label]="addUserLabel" fontColor="white"
                    color="primary" size="small" [type]="buttonTypeSubmit">
                </app-button>
                <app-button [label]="cancelAddModal" fontColor="var(--mediumGray)" data-bs-dismiss="modal" size="small">
                </app-button>
            </div>
        </form>
    </div>
</div>